/.metadata/

/jsplat-experiments

/jsplat-examples/target
/jsplat-examples/.project
/jsplat-examples/.settings
/jsplat-examples/.classpath

/jsplat-examples/data/*
!/jsplat-examples/data/unitCube-ascii.ply


/jsplat/target
/jsplat/.project
/jsplat/.settings
/jsplat/.classpath

/jsplat-io-gsplat/target
/jsplat-io-gsplat/.project
/jsplat-io-gsplat/.settings
/jsplat-io-gsplat/.classpath

/jsplat-io-ply/target
/jsplat-io-ply/.project
/jsplat-io-ply/.settings
/jsplat-io-ply/.classpath

/jsplat-io-spz/target
/jsplat-io-spz/.project
/jsplat-io-spz/.settings
/jsplat-io-spz/.classpath

/jsplat-io-spz-gltf/target
/jsplat-io-spz-gltf/.project
/jsplat-io-spz-gltf/.settings
/jsplat-io-spz-gltf/.classpath

/jsplat-viewer/target
/jsplat-viewer/.project
/jsplat-viewer/.settings
/jsplat-viewer/.classpath

/jsplat-viewer-lwjgl/target
/jsplat-viewer-lwjgl/.project
/jsplat-viewer-lwjgl/.settings
/jsplat-viewer-lwjgl/.classpath
/jsplat-viewer-lwjgl/.lwjgl

