/.metadata/

/jsplat-experiments
/jsplat-experiments-tilesets

/jsplat-examples/target
/jsplat-examples/.project
/jsplat-examples/.settings
/jsplat-examples/.classpath

/jsplat-examples/data/*
!/jsplat-examples/data/unitCube-ascii.ply


/jsplat/target
/jsplat/.project
/jsplat/.settings
/jsplat/.classpath

/jsplat-app/target
/jsplat-app/.project
/jsplat-app/.settings
/jsplat-app/.classpath
/jsplat-app/*.properties

/jsplat-io-gsplat/target
/jsplat-io-gsplat/.project
/jsplat-io-gsplat/.settings
/jsplat-io-gsplat/.classpath

/jsplat-io-ply/target
/jsplat-io-ply/.project
/jsplat-io-ply/.settings
/jsplat-io-ply/.classpath

/jsplat-io-spz/target
/jsplat-io-spz/.project
/jsplat-io-spz/.settings
/jsplat-io-spz/.classpath

/jsplat-io-gltf/target
/jsplat-io-gltf/.project
/jsplat-io-gltf/.settings
/jsplat-io-gltf/.classpath

/jsplat-io-gltf-spz/target
/jsplat-io-gltf-spz/.project
/jsplat-io-gltf-spz/.settings
/jsplat-io-gltf-spz/.classpath

/jsplat-io-sog/target
/jsplat-io-sog/.project
/jsplat-io-sog/.settings
/jsplat-io-sog/.classpath

/jsplat-viewer/target
/jsplat-viewer/.project
/jsplat-viewer/.settings
/jsplat-viewer/.classpath

/jsplat-viewer-lwjgl/target
/jsplat-viewer-lwjgl/.project
/jsplat-viewer-lwjgl/.settings
/jsplat-viewer-lwjgl/.classpath
/jsplat-viewer-lwjgl/.lwjgl

